# macOS
.DS_Store

# Python
env/
backend/env/
__pycache__/
*.py[cod]
*.env
*.venv
venv/

# iOS Build Files
NoSwipeApp/build/
NoSwipeApp/DerivedData/
NoSwipeApp/.DS_Store

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
*.xcworkspace
*.xcuserstate

# PoC
PoC/

# Swift
*.swiftpm
.swiftpm/
.build/

# Logs
*.log

# Sensitive Information
*.key
*.pem

# Others
*.swp

*.pyc
__pycache__/
.env
db.sqlite3
/media/

# Python
__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/

# Documentation Local folder
documentation/Local/